body {
	padding-top: 25vh;
	height: 100vh;
	width: 100%;
	background-image: url('../bg.jpeg');
	background-position: center;
	background-size: cover;
}

.box {
	justify-content: center;
	text-align: center;
	height: 190px;
	padding: 10px;
}

.box:nth-child(even) {
	background-color: #ccc;
}

.box:nth-child(odd) {
	background-color: #aaa;
}

.btn-primary {
	position: absolute;
	top: 2rem;
	left: 2rem;
}
